body{
	padding:0px;
	margin:0px;
	background-color:#eee;
	font-family: 'Raleway', sans-serif;
	font-size:2em;

}
a{
	text-decoration:none;
}
#amazonLink:link{
	color:#f71;
}
#amazonLink:visited{
	color:#f71;
}

#bbLink:link{
	color:#45f;
}
#bbLink:visited{
	color:#45f;
}