body{
	padding:0px;
	margin:0px;
	background-color:#eee;
	font-family: 'Raleway', sans-serif;
	font-size:2em;

}
a{
	text-decoration:none;
}
a #amazonLink:link{
	color:#f71;
}
a #amazonLink:visited{
	color:#f71;
}

a #bbLink:link{
	color:#45f;
}
a #bbLink:visited{
	color:#45f;
}