body{
	padding:0px;
	margin:0px;
	background-color:#000;
	background-image: url("mountains.jpg");
	background-size: 100% auto;
	background-repeat:no-repeat;

}
a{
	text-decoration:none;
}
a:link{
	color:#999;
}
a:visited{
	color:#999;
}
#topLine{
	margin-right:10%;
	margin-top:40px;

}
#secondLine{
	margin-left:15%;
	margin-top:10%;
}
#bottomLine{
	margin-left:2%;
	margin-top:60%;
	margin-bottom:2%;
	clear:both;
	font-family:'Raleway', sans-serif;
	font-size:.8em;
	color:#999;
}

.line1{
	font-family: 'Raleway', sans-serif;
	font-size:2em;
	color:#000;
	text-align:right;
	font-weight:normal;

}
.line2{
	float:left;
	font-family: 'Raleway', sans-serif;
	font-size:2em;
	color:#000;
	text-align:right;
	font-weight:normal;

}