<style>
  /* styling for the image wrapper  */
#image_wrap {

    margin: 0 auto;
    position: absolute;
    top: -35px;
    left: 50%;
    visibility: visible




    /* dimensions */
    width:900px;
    padding:15px 0;

    /* centered */
    text-align:center;

    /* some "skinning" */
    background-color:#efefef;
    border:2px solid #fff;
    outline:1px solid #ddd;
    -moz-ouline-radius:4px;
}
</style>