<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jason Radcliffe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jason Radcliffe">
    <link rel="stylesheet" type="text/css" href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="toppanel">
      <table><tr><td class="topitem"><a class="toplink" href="/">Jason Radcliffe </a></td>
      <td class="topitem"><a class="toplink" href="/about.html">About Me</a></td></tr></table>
    </div>
    <div id="contentpane">
      {{ content }}
    </div>
  </body>
</html>