<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jason Radcliffe">
    <link rel="stylesheet" type="text/css" href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
	
	<title>Nepal Pictures</title>

    <!-- include the Tools -->
  
	<script src="/jquery-1.7.js"></script>

	<link rel="stylesheet" type="text/css" 
	  href="/scroll/scrollable-horizontal.css" />
	<link rel="stylesheet" type="text/css"
      href="/scroll/scrollable-buttons.css" />
	<link rel="stylesheet" type="text/css"
      href="/scroll/image-wrapper.css" />
	
	
	
	
	
  </head>
  <body>
    <div id="toppanel">
      <table><tr><td class="topitem"><a class="toplink" href="/">Jason Radcliffe </a></td>
      <td class="topitem"><a class="toplink" href="/about.html">About Me</a></td></tr></table>
    </div>
    <div id="secondpanel">
      <table><tr><td class="seconditem"><a href="/nepal-summary.html"  class="toplink">Trip Summary</a></td>
      <td class="seconditem"><a href="http://reignministries.org/royal-servants" target=blank class="toplink">Reign Ministries Website</a></td>
      <td class="seconditem"><a href="http://reignministries.org/sponsor-rs" class="toplink">Give Online</a></td>
	  <td class="seconditem"><a href="/nepal-pictures" class="toplink">Pictures</a></td></tr></table>
    </div>
    <div id="contentpane">
      {{ content }}
    </div>
  </body>
</html>